server:
  port: 8082

spring:
  data:
    redis:
      host: localhost
      port: 6379
management:
  metrics:
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: when_authorized